@model Kisiler
@{
    ViewBag.Title = "Yeni";
}

<h2>Yeni Kişi</h2>
@using(Html.BeginForm())
{ 
<div class="input-group">
    <span class="input-group-addon">Ad</span>
    @Html.TextBoxFor(x => x.Ad, new { @class = "form-control", placeholder = "Adı Girin", @required="required" })

    @*<input type="text" class="form-control" placeholder="Yeni Kişi"/>*@
</div>
<br />
<div class="input-group">
    <span class="input-group-addon">Soyad</span>
    @Html.TextBoxFor(x => x.Soyad, new { @class = "form-control", placeholder = "Soyad Girin", @required = "required" })

</div>
<br />
<div class="input-group">
    <span class="input-group-addon">Yas</span>
    @Html.TextBoxFor(x => x.yas, new { @class = "form-control", placeholder = "Yaş Girin" ,@type="number",min=18})

</div>
<br />
<div class="form-group">
    <input type="submit" value="Kaydet" class="btn btn-primary" />
</div>
<br />


<div class="input-group">
    @if (@ViewBag.mesaj != null)
    {
        <div class="alert alert-@ViewBag.renk " role="alert">
            @ViewBag.mesaj
        </div>

    }
   
</div>
}


